h2{
    font-size: 36px;
    font-family: fantasy;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

footer{
    font-size: 24px;
    background-color: whitesmoke;
    font-weight: bold;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}

.container-options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid 1px;

}

.option{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slogan{
    font-size: 36px;
    font-family: fantasy;
    align-self: center;
}

.result-display{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
}

.stalemate{
    color: green;
}

.man-winner{
    color: blue;
}

.machine-winner{
    color: red;
}

.count-reset{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header{
    font-size: 56px;
    font-family: fantasy;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

#score-board{
    display: flex;
    justify-content: space-around;

}

#man-score{
    font-family: fantasy;
    font-size: 36px;
    color: blue;
    min-width: 200px;
}

#machine-score{
    font-family: fantasy;
    font-size: 36px;
    color: red;
    min-width: 200px;
}

#result-header{
    font-size: 48px;
    font-family: fantasy;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
}

#results{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#result-label-man{
    font-size: 36px;
    font-family: fantasy;
    align-self: center;
    color: blue;
}

#result-label-machine{
    font-size: 36px;
    font-family: fantasy;
    align-self: center;
    color: red;
}

#reset-button{
    font-size: 48px;
    font-family: fantasy;
    align-self: center;
    margin-top: 80px;
    margin-bottom: 40px;
    background-color: white;
}

#versus{
    margin-top: 80px;
    font-size: 72px;
    font-family: fantasy;
    align-self: center;
}